* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.m-auto{
  margin: auto;
}

.text-white{
    color: white;
}

body {
  background-color: #232323;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.full-banner-w-h {
  width: 100vw;
  height: 100vh;
}

.bg-banner {
  background-image: url(/assets/pictures/bg-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.faded-banner {
  background-color: black;
  filter: opacity(70%);
}

.nav-bar {
  width: 100%;
  height: 90px;
  /* background-color: aqua; */
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 180px;
  margin-left: 150px;
}

.nav-btns{
    gap: 25px;
    margin-right: 150px;
}

.languages {
  border: 1.5px solid grey;
  border-radius: 3px;    
  padding: 0px 8px;
  background-color:rgb(35, 35, 35, 0.7);
}

.trans-icon {
    font-size: 18px !important;
}

.sel-lang {
    background-color: unset;
    -webkit-appearance: none;
    padding: 6px 5px;
    font-size: 15px;
    border: none;
    outline: none;
}

.sel-lang option {
    color: black;
}

.drop-arrow{
    font-size: 20px !important;
}

.sign-in-btn {
  font-size: 14px;
  background-color: #e50914;
  border: none;
  padding: 6px 13px;
  font-weight: 500;
  border-radius: 4px;   
}

.banner-heading{
  width: max-content;
  top: 50%;
  left: 50%;
  padding-top: 65px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-heading{
  font-size: 45px;
  font-weight: 800;
}

.sub-heading{
  font-size: 22px;
  margin-top: 10px;
}

.new-user-section h3{
  font-size: 18px;
  font-weight: 400;
}

.user-email{
  /* background-color: aqua; */
}

.get-start-btn {
  background-color: #e50914;
  border-radius: 4px;
}

.start-btn{
  border: none;
  background-color: transparent;
  font-size: 25px;
  font-weight: 525;
  cursor: pointer;
  padding: 8px 50px 8px 20px;
}

.next-icon{
  font-size: 35px !important;
  font-weight: 300 !important;
  right: 12px;
}

.user-data {
  gap: 10px;
  width: 48vw;
}

.user-email{
  width: 50%;
  height: 55px;
}

.new-user-email {
  width: 100%;
  height: 50%;
}

.user-email label {
  left: 0;
}